<div data-role="page" id="index">
    <div data-role="header">
        <h1>Index!!!!!!</h1>
    </div>

    <div data-role="content">
        <p id="product-name"></p>
        <p>The output of this page can be seen in your javascript console.</p>
        <p>
            <a href="#localpage2?param=value&param2=value">#localpage2 with params</a><br/>
            <a href="#localpage2?foo=bar&bar=foo&foobarbaz&testarray[]=foo&testarray[]=bar">#localpage2 with params (with array)</a><br/>
            The following route will be enabled after 20seconds<br/>
            <a href="#localpage3?blablah">#localpage3 with params</a><br/>
            The following link will show how a default route works<br/>
            <a href="#localpage4">#localpage4</a><br/>
        </p>
    </div>

    <div data-role="footer">
        <h4>Index footer</h4>
    </div>
</div>